
{pytorch
        pip install torch --index-url https://download.pytorch.org/whl/cpu
}paste in terminal
{sklearn
        pip install scikit-learn
}
{pandas
        pip install pandas
}
{matplotlib
        pip install matplotlib
}
